table , caption , th , td {

    border: 2px solid skyblue;
    border-collapse: collapse;
}

caption, th , td{

    padding: 8px;

}

.bc {
    display: inline-block;
    background-color: #bfbbc5;
    padding: 10px;
    width: 150px;
    color: #ffffff;
    text-align: center;
    float: left;

}